<div class="content container">
  <div class="row browser-box ">
    <div class="col text-center">
      <h1 class="titulo">Navegador não suportado</h1>
      <h3>O sistema Fiscalização não está disponível para este navegador.<br>Utilize um dos navegadores abaixo para acessar.</h3>

      <div class="row browser">
        <div class="col-4"></div>
        <div class="col-2 text-center">
          <img class="icones img-responsive" src="assets/img/img_chrome.png" alt="Logo do Google Chrome">
          <span>Google Chrome</span>
        </div>
        <div class="col-2 text-center">
          <img class="icones img-responsive" src="assets/img/img_firefox.png" alt="Logo do Mozilla Firefox">
          <span>Mozilla Firefox</span>
        </div>
      </div>
       <div class="col-4"></div>
    </div>
  </div>
</div>