<div class="row">
    <div class="col">
      <button class="btn nav-link link-menu-top" id="dropdownHome" style="float: left; border-radius: 0px; box-shadow:none;">Home</button>
      
      <div ngbDropdown class="d-inline-block" (openChange)="toggled($event)">
        <button class="btn nav-link link-menu-top" style="border-radius: 0px; box-shadow:none;" id="dropdownAnaliseGrafica" ngbDropdownToggle>Análise Gráfica</button>
        <div ngbDropdownMenu aria-labelledby="dropdownAnaliseGrafica">
          <button class="dropdown-custom-item">Consultas BACEN-SCR</button>
          <button class="dropdown-custom-item">Consultas Online</button>
          <button class="dropdown-custom-item">Severidade Pré-Calculada</button>
          <button class="dropdown-custom-item">Acompanhamento de Rotinas</button>
          <button class="dropdown-custom-item">Triagem de Logs</button>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block" (openChange)="toggled($event)">
        <button class="btn nav-link link-menu-top" style="border-radius: 0px; box-shadow:none;" id="dropdownControleEventos" ngbDropdownToggle>Controle de Eventos</button>
        <div ngbDropdownMenu aria-labelledby="dropdownControleEventos">
          <button class="dropdown-custom-item">Histórico de Eventos</button>
          <button class="dropdown-custom-item">Parâmetros Trava de Produtos</button>          
        </div>
      </div>
      <div ngbDropdown class="d-inline-block" (openChange)="toggled($event)">
        <button class="btn nav-link link-menu-top" style="border-radius: 0px; box-shadow:none;" id="dropdownDocumentacao" ngbDropdownToggle>Documentação</button>
        <div ngbDropdownMenu aria-labelledby="dropdownDocumentacao">
          <button class="dropdown-custom-item">Documentação Alertas</button>
          <button class="dropdown-custom-item">Documentação Funcional</button>
          <button class="dropdown-custom-item">Documentação Técnica</button>
          <button class="dropdown-custom-item">Notas da Versão</button>        
        </div>
      </div>      
    </div>
  </div>