.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

.dropdown-custom-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-custom-item.active, .dropdown-custom-item:active {
  color: #fff;
  text-decoration: none;
  background-color:none;
}

.dropdown-custom-item:focus, .dropdown-custom-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}