/* HEAD SICREDI */
.icon-white {
	color: #FFFFFF;
}
.logoff {
	margin-left: 40px;
	float: right;
}
.user {
	float: right;
	margin-right: 0px;
}
.line {
	position: relative;
  	top: 44%;
  	transform: translateY(-44%);
}
.head_sicredi {
	background-color: #64C832;
	min-height: 40px !important;
}
.logo_sicredi {
	width: 100px !important;
	height: 24px !important;
}
@media (max-width: 760px) {
	.center {
		text-align: center !important;
	}
	.head-title {
		border-top: 1px solid #83D35B !important;
	}
}
h1.title {
	font-family: 'Exo 2', sans-serif !important;
	font-weight: bold !important;
	font-size: 20px !important;
	color: #FFFFFF;
	text-align: center !important;
}
.user_name {
  color: #FFFFFF;
  font-size: 16px !important;
  margin-left: 4px !important;
  text-decoration: none !important;
  display: inline-block !important;
}
.user_name_logout {
	color: #FFFFFF;
	font-size: 16px !important;
	margin-left: 4px !important;
	text-decoration: none !important;
	display: inline-block !important;
	cursor: pointer;
  }
i{
  font-size: 18px !important;  
}

/* HEAD SICREDI */
